In [1]:
import pandas as pd
import numpy as np

In [29]:
error_val = ['na','n/a','--']
df = pd.read_excel(r"C:\Users\Ghazanfar\Desktop\Sir Nasir\Pandas data.xlsx" , na_values = error_val)
countt = 0
for row in df['OWN_OCCUPIED']:
    try:
        int(row)
        df.loc[countt , ['OWN_OCCUPIED']] = np.nan
    except ValueError:
        pass
    countt += 1
print('Total null Values are:',df.isnull().values.sum())
print()
print(df.isnull().sum())

Total null Values are: 12

PID             0
ST_NUM          2
ST_NAME         0
OWN_OCCUPIED    3
NUM_BEDROOMS    3
NUM_BATH        1
SQ_FT           3
dtype: int64

In [37]:
median = df['NUM_BEDROOMS'].median()
df['NUM_BEDROOMS'].fillna(median, inplace=True)
df.dropna(thresh = 2)

         PID    ST_NUM     ST_NAME OWN_OCCUPIED  NUM_BEDROOMS NUM_BATH   SQ_FT
0  100001000       104      PUTNAM            Y           3.0        1  1000.0
1  100002000       197   LEXINGTON            N           3.0      1.5     NaN
2  100003000       NaN   LEXINGTON            N           2.0        1   850.0
3  100004000       201    BERKELEY          NaN           1.0      NaN   700.0
4        203  BERKELEY           Y          NaN           2.0     1600     NaN
5  100006000       207    BERKELEY            Y           2.0        1   800.0
6  100007000       NaN  WASHINGTON          NaN           2.0   HURLEY   950.0
7  100008000       213     TREMONT            Y           1.0        1     NaN
8  100009000       215     TREMONT            Y           2.0        2  1800.0